// MIXINS

$red: #c70022;
$darkred: #88061d;

$margin: 20px;

$text: 14px;
$line: 20px;

@mixin button {
	display: inline-block;
	padding: 8px 20px;

	@include border-radius(5px);
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 2px rgba(0,0,0,0.5));
	background: $red;
	@include background-image(linear-gradient(top, $red, $darkred 90%, $darkred));

	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		position: relative;
		top: 1px;
	}
}

body {
	background: #000;

	font-family: 'Open Sans', sans-serif;
	color: #9fa5aa;
	font-size: $text;
	line-height: $line;

	i, em {
		font-style: italic;
	}

	b, strong {
		font-weight: bold;
	}
}

#ui-loader {
	display: none !important;
}

h1, h2, h3, h4, h5 {
	margin: $line 0;
	color: #FFF;
	font-family: 'Open Sans Condensed', sans-serif;
	text-shadow: 0 1px 2px #000;
}

h1 {
	font-size: $text*5;
	line-height: $line*4;
}

h2 {
	font-size: $text*4;
	line-height: $line*3;
}

h3 {
	font-size: $text*3;
	line-height: $line*2;
}

h4 {
	font-size: $text*2;
	line-height: $line;
}

h5 {
	font-size: $text;
	line-height: $line;
}

p {
	margin: $line 0;
	font-size: $text;
}

// DEFAULTS

.page {
	max-width: 600px;
	margin: 0 auto;

	background-image: url(i/spacebg.png);
	background-position: center center;
	background-repeat: repeat;
	background-size: 100% auto;
}

#ship {
	z-index: 1000;
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;

	height: 20%;
	max-height: 120px;
	min-height: 80px;

	text-align: center;

	.ship {
		display: inline-block;
		width: 120px;
		height: 100%;

		background: transparent;
		background-image: url(i/spaceship@2x.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: auto 100%;
	}
	&.small {
		max-height: 100px;
	}
}