#intro {
	@include box-sizing(border-box);
	position: relative;
	height: 100%;
	max-height: 600px;
	min-height: 420px;
	padding: $margin;

	text-align: center;

	&:before {
		content: '';
		display: block;
		margin: -$margin;
		margin-bottom: 0;

		background: transparent;
		background-image: url(i/spacebg-fade.png);
		background-repeat: repeat-x;
		background-size: 100% auto;
		height: 30px;
	}

	h1 {
		z-index: 10000;
		position: relative;
		height: 150px;
		margin: 0 -$margin;
		margin-top: -$margin*1.5;
		margin-bottom: $margin/2;

		background: transparent url(i/title@2x.png) center center;
		background-repeat: no-repeat;
		background-size: auto 100%;

		text-indent: -10000000px;
	}

	h4 {
		margin-top: 0;
	}

	a.start {
		@include button;
	}

	&.earth {
		@include background-image(linear-gradient(top, #000000, #002e36 50%, #6591b1));

		&:after {
			content: '';

			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			display: block;
			min-height: 70px;

			//background: #75921c;
			background: transparent;
			background-image: url(i/earth.png);
			background-position: bottom center;
			background-size: auto 100%;
			background-repeat: no-repeat;
		}
	}
}