li.question {
	display: none;
	@include box-sizing(border-box);
	height: 100%;
	overflow: hidden;
	white-space: nowrap;

	@include box-shadow(inset 0 0 5px 5px #000);

	&.active {
		display: block !important;
		height: 100%;

		> div {
			display: inline-block;
		}
	}

	> div {
		@include box-sizing(border-box);
		display: inline-block;
		vertical-align: top;

		height: 100%;
		width: 100%;
		padding: $margin;

		white-space: normal;

		> h2, > h3, >h4 {
			margin-top: 0;
			font-size: 24px;
		}
	}

	div.question {
		ul {
			margin-left: -$margin/2;
			margin-right: -$margin/2;
			padding: $margin/2;

			background: rgba(0,0,0,0.75);
			@include border-radius($margin/2);
			font-size: 16px;

			li {
				margin: $margin/2 0;

				input[type=radio] {
					margin-right: $margin/2;
				}
			}
		}
	}
	div.answer {
		z-index: 10000;
		background: #222;
		text-align: center;

		> h2, > h3, > h4 {
			display: none;
			margin-top: 0;
			text-align: center;
		}

		&.right {
			h2.right, h3.right, h4.right {
				display: block;
			}
		}
		&.wrong {
			background: $red;
			h2.wrong, h3.wrong, h4.wrong {
				display: block;
			}
		}
	}
}